@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.button-back {
    background: linear-gradient(45deg, #6ee7b7, #8fa0a1);
    padding: 12px 24px;
    font-weight: 600;
    color: rgb(136, 43, 43); /* Changed color to white for better visibility */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
    animation: pulse 1.5s infinite;
}
